.header {
    height: 15vh;
    background-color: #3D76A4;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
}