.header {
    height: 15vh;
    background-color: var(--primary);

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-white);
}

.header h1 {
    margin: 0;
    font-size: 2rem;
}