.page {
    display: flex;
    flex-direction: column;

    /* 最低でも高さ90、あとは内容に合わせて自動で長さを調整 */
    height: calc(90vh);
}

.page-content {
    flex: 1;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
    background-color: var(--secondary);
}