/* 日付・時間表示 */
.date-area {
    height: 30vh;

    background: var(--secondary);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* データ一覧 */
.sensor-data-area {
    flex: 1;

    background: var(--white);

    padding: 20px;
}

.data-area p {
    font-size: 22px;

    margin: 20px 0;
}

/* カレンダーアイコンの色設定 */
.calendar-link {
    color: var(--inactive);
    text-decoration: none;
}